@import '~antd/es/style/themes/default.less';

.roi-mark {
  padding-top: 8px;
  gap: 16px 24px;
  flex: 1;
  flex-wrap: wrap;

  &:hover {
    border: none;
    outline: 0;
  }

  :global {
    .item-input-box {
      position: relative;
      height: 32px;

      .self_input {
        border-radius: 4px;
        height: 100%;

        .ant-input-number-handler-wrap {
          display: none;
        }
      }

      .ant-input-number-input-wrap {
        height: 100%;
        width: 100%;
      }

      .ant-switch,
      .ant-input,
      .ant-input-number-input {
        height: 32px;
        width: 100%;

        .ant-switch-handle {
          top: 7px;
        }
      }

      .ant-switch {
        transform: scale(1);
        margin-left: 0 !important;
      }

      .input-name {
        position: absolute;
        color: @text-color;
        font-size: 12px;
        cursor: text;
        z-index: 1;
      }

      .focus {
        top: -6px;
        height: 14px;
        line-height: 1;
        padding: 0 2px;
        z-index: 1;
        background-color: @background-color-base;
      }
    }
  }
}