@import '~antd/es/style/themes/default.less';

.home {
  height: 100%;
  width: 100%;
  position: relative;

  :global {
    .btn-box {
      width: 100%;
      height: 100%;
      box-shadow: @box-shadow-base;
      background-color: @body-background;

      .status-icon {
        .ant-badge-status-dot {
          height: 15px;
          width: 15px;
        }
      }

      .btn {
        width: 100%;
        height: 56px;
        // justify-content: space-between;
        padding: 12px;
        border-bottom: .5px solid rgba(229, 224, 216, 0.65);
      }

      .btn-icon {
        font-size: 30px;
      }

      .ant-badge-status-processing {
        background-color: @success-color;

        &::after {
          border-color: @success-color;
        }
      }
    }

    .info-box {
      width: 100%;
      height: 100%;
      box-shadow: @box-shadow-base;
      background-color: @body-background;

      .info-box-content {
        font-size: 20px;
        line-height: 1.1;
        height: calc(100% - 40px);
        overflow-y: auto;
        word-break: break-all;
      }

      .info-item {
        padding: 12px;
        text-align: center;
      }
    }

    .message-box {
      .message-item {
        text-align: center;
        padding: 12px;
        cursor: pointer;
        border-bottom: 1px solid @border-color-base;

        &:hover {
          background-color: @btn-text-hover-bg;
        }
      }
    }

    .drag-btn {
      cursor: move;
    }

    .success-message {
      border-left-color: @success-color;
    }

    .warning-message {
      border-left-color: @warning-color;
    }

    .error-message {
      border-left-color: @error-color;
    }

    .ant-spin-container {
      position: relative;

      .home-content {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      .drag-btn {
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 100px;
      }
    }

    .log-content {
      height: 100%;
      flex: 1;
      background: @body-background;
      overflow: hidden;

      .content-item-span {
        font-size: 20px;
        line-height: 1.1;
        padding: 12px;
        height: calc(100% - 40px);
        overflow-y: auto;
        word-break: break-all;
      }
    }

    .history-window-modal {
      .ant-modal {
        max-width: 800px;
      }
    }
  }
}