.reportWrap {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #33333e;
  color: #eee;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;

  :global {
    .box {
      flex: 1;

      .content-box {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    .btn {
      cursor: pointer;
      gap: 8px;

      &:hover {
        background: rgba(68, 68, 84, 0.8);
      }
    }

    .canvas-toolbar-setting-modal {
      .ant-modal-content {
        background: linear-gradient(180deg, rgba(0, 20, 132, .6) 0%, #010042 100%);
      }

      .ant-modal-close {
        .ant-modal-close-icon {
          color: #fff;
        }
      }

      .ant-modal-header {
        background: linear-gradient(180deg, rgba(0, 20, 132, .6) 0%, #010042 100%);

        .ant-modal-title {
          color: #fff;
        }
      }
    }
  }
}