@import '~antd/es/style/themes/default.less';

.history {
  width: 50%;
  height: 100%;
  padding: 24px;
  background: @body-background;

  :global {

    .search-box {
      width: 100%;
      margin: 16px 0;

      .ant-form-item {
        margin-bottom: 0;
      }

      .flex-box {
        justify-content: space-between;
      }
    }
  }
}