@import '~antd/es/style/themes/default.less';

.dashboardContent {
    // 这个一定要设置，不然容易有偏移
    position: relative;
    height: 100%;
    width: 100%;

    :global {
        .ruler {
            position: absolute;
            top: 0;
            left: 0;
        }

        .horizontal {
            left: 0;
            width: 100%;
            height: 30px;
        }

        .vertical {
            top: 0;
            width: 30px;
            height: 100%;
        }

        .move-body-box {
            position: absolute;
            top: 30px;
            left: 30px;
            right: 0;
            bottom: 0;

            .move-item {
                position: absolute;
            }
        }
    }
}