@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  user-select: none;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding: 2px;
    background-color: @background-color-base;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    margin: 2px;
    background-color: rgba(144, 144, 144, 0.8);
    border-radius: 4px;
  }
}

.colorWeak {
  filter: invert(80%);
}

.ant-pro-setting-drawer-handle {
  position: absolute;
  top: 8px;
  right: 80px;
  z-index: 999;
  width: auto;
  background-color: transparent;
  transform: translate(0, -130%);

  .anticon {
    color: transparent !important;
    font-size: 14px !important;
  }
}

.ant-layout {
  height: 100vh;

  .ant-layout-header {
    .ant-pro-global-header {
      padding-right: 8px;
    }

    .ant-pro-menu-item {
      font-size: 20px;

      .anticon {
        font-size: 20px;
      }
    }

    .ant-pro-top-nav-header-main-left {
      margin-right: 32px;

      .ant-pro-top-nav-header-logo {
        img {
          height: 30px;
        }

        h1 {
          font-size: 24px;
        }
      }
    }
  }

  .ant-layout-content {
    margin: 0;
    padding: 0;
  }
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

.ant-drawer {
  .ant-drawer-content-wrapper {

    .ant-alert-warning,
    .ant-btn.ant-btn-block {
      display: none;
    }
  }
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}

@media (prefers-color-scheme: light) {
  //
}

@media (prefers-color-scheme: dark) {
  .ant-switch-handle::before {
    background-color: #fff;
  }
}

.selected {
  background-color: rgba(24, 144, 255, .4);
}

.font-selected {
  color: rgba(24, 144, 255, 1);
}

.error,
.NG {
  background-color: #931212 !important;
  color: #fff !important;
}

.success,
.OK {
  background-color: #88db57 !important;
}

.warning,
.warnning {
  background-color: #b8831b !important;
  color: #fff !important;
}

.greyBackground {
  background-color: grey;
}

.success-font,
.OK-font {
  color: #88db57;
}

.error-font,
.NG-font {
  color: #931212;
}

.warning-font {
  color: #b8831b;
}

.info-font {
  color: @primary-color;
}

.common-btn {
  z-index: 19;
  height: 23px;
  padding: 0 8px;
  font-size: 14px;
  line-height: 21px;
  border: 1px solid @border-color-base;
  border-radius: 2px;
  cursor: pointer;
}

.ant-form,
.ant-input,
.ant-input-number,
.ant-picker-dropdown,
.ant-tree,
.ant-radio-group {
  font-size: inherit !important;

  .ant-form-item {
    font-size: inherit !important;

    .ant-form-item-label>label {
      font-size: inherit !important;
    }
  }

  .ant-tree-list-holder-inner {
    .ant-tree-treenode {
      font-size: inherit !important;

      .ant-tree-checkbox {
        margin-top: 3px;
        font-size: inherit !important;

        .ant-tree-checkbox-inner {
          width: 22px;
          height: 24px;

          &::after {
            width: 14px;
            height: 14px;
          }
        }
      }

      .ant-tree-checkbox-checked .ant-tree-checkbox-inner::after {
        width: 8px;
        height: 12px;
      }

      .ant-tree-switcher {
        margin-right: 4px;
        font-size: inherit !important;
        line-height: initial !important;

        .ant-tree-switcher-icon {
          font-size: inherit !important;
        }
      }
    }
  }

  .ant-radio-wrapper {
    font-size: inherit !important;

    .ant-radio {
      font-size: inherit !important;

      .ant-radio-inner {
        width: 24px;
        height: 24px;

        &::after {
          width: 32px;
          height: 32px;
          margin-top: -16px;
          margin-left: -16px;
          border-radius: 50%;
        }
      }
    }
  }
}

.ant-select {
  font-size: inherit;
}

.ant-btn {
  font-size: 20px;
}

.ant-btn,
.ant-input {
  line-height: 1 !important;
}

.ant-modal {
  font-size: inherit !important;

  .ant-modal-header,
  .ant-modal-footer {
    height: 55px;
  }

  .ant-modal-content {
    height: 100%;
    max-height: 99vh;
    font-size: inherit !important;

    .ant-modal-body {
      height: calc(100% - 110px);
      padding: 12px;
      overflow: auto;
    }

    .ant-modal-title {
      font-size: inherit !important;
    }
  }
}

.ant-tabs {
  width: 100%;
  height: 100%;
  font-size: inherit;

  .ant-tabs-nav {
    margin: 0;
    padding: 0 24px;

    .ant-tabs-tab {
      font-size: inherit;
    }
  }

  .ant-tabs-content {
    width: 100%;
    height: 100%;

    .ant-tabs-tabpane {
      width: 100%;
      height: 100%;
    }
  }
}

.ant-switch {
  margin-left: 4px !important;
  transform: scale(1.2);
}

.ant-image-preview-root {
  .ant-image-preview-mask {
    background-color: #000;
  }

  .ant-image-preview-wrap {
    .ant-image-preview-content {
      .ant-image-preview-img-wrapper {
        .ant-image-preview-img {
          width: 50%;
        }
      }
    }
  }
}

.ant-spin-nested-loading {
  width: 100%;
  height: 100%;

  .ant-spin-container {
    width: 100%;
    height: 100%;
  }
}

.ant-image {
  // display: flex !important;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  height: 100%;
}

.ant-input-number {
  width: 100% !important;

  .ant-input-number-handler-wrap {
    opacity: 1 !important;
  }
}

.ant-row {
  align-items: center;
}

.history-content-box {
  height: calc(100% - 82px);
  padding: 0 24px;

  .search-box {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;

    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .table-box {
    height: calc(100% - 56px);
  }
}

.item-label-icon {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  border: 1px solid @body-background;
}

.label-style {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 8px;
  line-height: 32px;
  word-break: break-all;
}

.wrapper-style {
  flex: 1;

  .top-content {
    flex: 1;
    width: 100%;
    margin-bottom: 8px;
    line-height: 32px;
  }

  .plugin-style {
    flex: 1;
    word-break: break-word;
  }

  .plugin-icon {
    // padding-top: 8px;
    margin-left: 16px;
    cursor: pointer;
  }

  .text-style {
    overflow: hidden;
    // word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.mask-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.text-break {
  white-space: normal;
}

.ant-slider {
  display: flex;
  align-items: center;
  height: 100% !important;
  margin: 0 !important;

  .ant-slider-handle {
    margin: 0 !important;
  }

  .ant-slider-rail {
    background-color: @background-color-base;
  }
}

.ant-popconfirm {
  .ant-popover-message {
    display: flex;
    align-items: center;
    padding: 4px 0 12px;
    color: #000000d9;
    font-size: 14px;

    .ant-popover-message-icon {
      display: inline-block;
      margin-right: 8px;
      color: var(--ant-warning-color);
      font-size: 14px;
    }

    .ant-popover-message-title {
      margin: 0;
      padding: 0;
    }
  }

  .ant-popover-buttons {
    .ant-btn {
      font-size: 16px;
    }
  }
}

.page-size {
  width: calc(100% - 48px);
  max-width: 1200px;
  height: calc(100% - 8px);
  margin: 0 auto 8px auto;
  padding: 24px;
  box-shadow: @box-shadow-base;
}

.background-ubv {
  background-color: @body-background;
  // background-color: #273142;
}

.flex-box {
  display: flex;
  display: -ms-flex;
  -webkit-align-items: center;
  align-items: center;
}

.flex-box-column {
  display: flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-box-start {
  display: flex;
  display: -ms-flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.flex-box-end {
  display: flex;
  display: -ms-flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.flex-box-align-end {
  display: flex;
  display: -ms-flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.flex-box-justify-end {
  display: flex;
  display: -ms-flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-box-justify-start {
  display: flex;
  display: -ms-flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.flex-box-justify-between {
  display: flex;
  display: -ms-flex;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
}

.flex-box-center {
  display: flex;
  display: -ms-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.tab-box {
  width: 100%;
  height: 55px;
  margin-bottom: 8px;
  background-color: @background-color-base;
  border-bottom: 1px solid @background-color-base;

  .tab-item {
    flex: 1;
    height: 100%;
    padding: 8px;
    text-align: center;
    cursor: pointer;

    &:first-child {
      border-right: 1px solid @background-color-base;
    }

    &:hover {
      background: @body-background;
    }
  }

  .selected {
    background: @body-background;
  }
}

.common-card-title-box {
  height: 28px;
  padding: 0 8px;
  font-size: 20px;
  line-height: 28px;
  // border-left: 6px solid @primary-color;
  word-break: keep-all;
  border-bottom: 1px solid @border-color-base;

  // &:hover {
  //   .common-card-title-icon {
  //     opacity: 1;
  //   }
  // }

  .common-card-title {
    flex: 1;
    font-size: 16px;
  }

  .common-card-title-icon {
    font-size: 14px;
    cursor: pointer;
    // opacity: 0;
  }
}

.operation-line {
  height: 100%;
  margin: 0 5px;
  color: #e9e9e9;
}

.monaco-editor-modal {
  .ant-modal {
    height: calc(100vh - 64px);

    .ant-modal-content {
      height: 100%;
    }

    .ant-modal-header {
      height: 65px;
    }

    .ant-modal-body {
      height: calc(100% - 120px);
    }

    .monaco-editor {
      width: 100% !important;
      height: 100% !important;

      .overflow-guard {
        width: 100% !important;
        height: 100% !important;

        .margin,
        .monaco-scrollable-element {
          width: 100% !important;
          height: 100% !important;

          .view-overlays {
            width: 100% !important;
            height: 100% !important;
          }

          .view-lines {
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
    }

    .ant-modal-footer {
      height: 55px;
    }
  }
}

@keyframes k-loadingK {
  0% {
    left: 0;
    transform: scale(1.1);
  }

  50% {
    left: 100%;
    transform: scale(1);
  }

  100% {
    left: 0;
    transform: scale(1.1);
  }
}

@keyframes k-loadingM {
  0% {
    z-index: 0;
  }

  50% {
    z-index: 1;
  }

  100% {
    z-index: 0;
  }
}

@keyframes k-loadingL {
  0% {
    left: 100%;
    transform: scale(1.1);
  }

  50% {
    left: 0;
    transform: scale(1);
  }

  100% {
    left: 100%;
    transform: scale(1.1);
  }
}

@keyframes k-loadingN {
  0% {
    z-index: 1;
  }

  50% {
    z-index: 0;
  }

  100% {
    z-index: 1;
  }
}

.k-loader {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 8px;
  margin: 0 8px;
  font-size: 16px;
}

.k-loader::before,
.k-loader::after {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  content: '';
}

.k-loader::before {
  background: #008bee;
  animation: k-loadingK 1s ease-in-out infinite, k-loadingM 0.33s ease-in-out infinite;
}

.k-loader::after {
  background: #6dd400;
  animation: k-loadingL 1s ease-in-out infinite, k-loadingN 0.33s ease-in-out infinite;
}

.img-charts-big {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 998;
  width: 300px;
  height: 300px;
  overflow: hidden;
  background: white;
  border: 1px solid rgb(212, 11, 11);

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

// div.item {
//   background:
//     linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
//     linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
//     linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
//     linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
//   background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
//   background-position: 0 0, 0 100%, 0 0, 100% 0;

//   &:hover {
//     animation: linearGradientMove .3s infinite linear;
//   }

//   @keyframes linearGradientMove {
//     100% {
//       background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
//     }
//   }
// }

@keyframes opacityChange {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.button-password-modal {
  .ant-row {
    align-items: flex-start;
  }
}

.greyColorStyle {
  color: rgba(144, 144, 144, 0.4);
  cursor: not-allowed !important;
}