body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.ant-popover-arrow-content {
    background: #2EABF3;
}

.ant-popover-inner-content {
    background: #111725;
    border: 1px solid rgba(42, 194, 255, 1);

    .label {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
    }

    .num {

        color: #2EABF3;
        font-size: 16px;
        font-weight: bold;
    }

    .bit {
        font-size: 12px;
        color: #2EABF3;
    }
}

// .ant-modal-content {
//     background: #09223C;
//     border: 1px solid #125A7B;

//     .ant-modal-header {
//         height: 60px;
//         background: #0F3358;
//         border-bottom: 1px solid #115575;

//         .ant-modal-title {
//             color: #fff;
//             font-weight: bold;
//             font-size: 18px;
//         }
//     }

//     .ant-modal-body{
//         padding: 10px 40px 40px 40px;
//     }

//     .ant-modal-footer {
//          border-top: 1px solid #115575;
//     }
// }

// .ant-modal-mask {
//     background-color: rgba(0, 0, 0, 0.65);
// }

// .ant-modal-close {
//     color: #fff;
//     .ant-modal-close-icon{
//         font-size: 18px;
//         font-weight: bold;
//     }
// }

// .ant-modal-close:hover {
//     color: #2EABF3;
// }

